/* Application template*/
html {
	font-family: sans-serif;
}

a, a:hover {
	text-decoration: none;
	color: black;
}

header {
	text-align: center;
	margin: 0 auto;
}

#main {
	/*margin-left: 15%;*/
	font-size: 2.7rem;
	font-weight: 300;
	/*border: blue solid 1px;*/
	
}

#main a {
	color: #dd6a58;
	text-transform: uppercase;
	font-weight: lighter;
}

.menu-button{
	margin: auto 20px;
	padding: 1em 2em;
	background-color: #dd6a58;
	display: inline-block;
	width: 8em;
	text-align: center;
	border-radius: 0.5em;
	font-weight: bolder;
}

.menu-button a {
	color: white;
}

/* Menu template*/

ul {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	/*border: red solid 1px;*/
}

h2 {
	text-align: center;
	font-size: 1.5em;
}

img {
	width: 100%;
}

li {
	/*border: blue solid 1px;*/
	text-align: center;
	margin: 0 10px;
	list-style: none;
	width: 30%;
	/*display: inline-block;*/
	
}

/* Item template*/
.item {
	display: block;
	margin: 10px auto ;
	width: 30%;
}

p {
	width: 30%;
	margin: 15px auto;
}

.numbers {
	padding: 0.4em 0.8em;
	background-color: #024959;
	border-radius: 0.3em;
	color: white;
}

p[class="well"] {
	box-shadow: 5px 5px 5px #aaa;
}

/* media queries */
@media screen and (max-width: 800px) {
	.item, p, li {
		width: 80%;
		margin: auto;
	}
	
}